*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;

}
header{
    background: url(imag/banner.jpeg) no-repeat;
    background-size: cover ;
    color: white;
    padding: 90px;
}
nav{
    background-color: #444444;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none
}
nav a:hover{
    color: greenyellow;
}
.sobremi{
    text-align: center;
}
.foto {
    width: 300px;
}
.imagen{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.contenedor{
    display: flex;
}
.icono_mail{
    width: 38px;
    height: 38px;
    margin-right: 10px;
}
.contenedor_2{
    display: flex;
}
.campo{
    color: red;
}
footer{
    background-color: #444444;
    color: white;
    padding: 20px;
    text-align: center;
}
main{
    padding: 20px;
}
section{
    margin-bottom: 30px;
}
h2{
    color: black
}
p{
    margin-bottom: 20px;
}
img{
    
    object-fit: cover;
    border-radius: 50%;
}